
@{
    ViewBag.Title = "Error";
}
<br /><br />
<h3>Une erreur s'est produite lors du traitement de votre demande.</h3>
<h3>Vous n'avez peut-êre pas accès à cette ressource.</h3>

<a class="btn btn-success" href="javascript:void(0);" onclick="history.go(-1);">Retour</a>
