@{
    ViewBag.Title = "Index";
}
<link href='~/Content/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/fullcalendar.print.min.css' rel='stylesheet' media='print' />
@section scripts{
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/lib/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script src="~/Scripts/locale/fr.js"></script>
<script src="~/Scripts/Planning.js"></script>
}

<h2>Planning</h2>

<div id='calendar'></div>